[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BCgee"]
	path = BCgee
	url = https://github.com/cran/BCgee
[submodule "ROSE"]
	path = ROSE
	url = https://github.com/cran/ROSE
